body {
    background-color: #fcfcfc;
}

.container {
    width: 900px;
    padding: 20px;
    margin: 40px auto;
    background-color: #b5fdd3;
    border-radius: 20px;
}

h1, h2, h3 {
    font-family: "Proza Libre", serif;
}

h1 {
    font-family: "Proza Libre", serif;
  font-weight: 700;
  font-style: normal;
    font-size: 22px;
}

h2 {
    font-family: "Proza Libre", serif;
  font-weight: 700;
  font-style: normal;
    font-size: 16px;
}

h3 {
    font-family: "Proza Libre", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 12px;
}

p {
    font-family: "Cormorant Garamond", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 12px;
}